<div class="text-layout">

    <h1>DecimalPipe y Porcentaje</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el common Module.
    </p>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="Ventas Netas"
                subheader="del presente año">
                <li>
                <i class="pi pi-dollar"></i>
                {{ (ventasNetas + 1000000) | number: '1.2-2': 'en'}}
                </li>
                <li>
                <i class="pi pi-dollar"></i>
                {{ (ventasNetas + 1000000) | number: '1.2-2': 'es-CL'}}
                </li>
        </p-card>
    </div>
</div>