<div class="text-layout">

    <h1>Pipes Basicos</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el common Module.
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Uppercase"
                [subheader]="nombreLower">
                {{nombreLower | uppercase}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="LowerCase"
        [subheader]="nombreUpper">
        {{nombreUpper | lowercase}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="TitleCase"
        [subheader]="nombreCompleto">
        {{nombreCompleto | titlecase}}
        </p-card>
    </div>
</div>